html,body{
    height:100%;
}
.my-customer,.early-warning{
    height:56%;
    padding:0 5px 15px 5px;
}
.revenue-summary,.customer-analyze,.staff-analyze{
    height:45%;
    padding:0 5px;
}
.con{
    background-color: #fff;
    height:100%;
    padding: 12px 17px 17px;
}
.con .header{
    border-bottom: solid #f5f5f5 1px;
    padding-bottom: 10px;
    line-height: 30px;
}
.con .header .title{
    font-size: 20px;
    color: #16518d;
}
.con .header .title .tip{
    color: #797979;
}
.my-cus{
    margin-top: 10px;
    font-size: 14px;
}
.my-cus thead tr th{
    padding:5px;
    color: #797979;
    background-color: #f5f5f5;
    border-bottom: 0;
}
.my-cus tbody tr td{
    padding:5px;
}
.my-cus tbody tr td button{
    font-size: 14px;
    padding:3px 12px;
    color: #fff;
    background-color: #16518d;
}
.my-cus tbody tr td button.btn-a{
    border:none;
    color: #16518d;
    background-color: transparent;
    font-size: 16px;
    padding:5px 10px;
}
.my-cus thead tr th label,
.my-cus tbody tr td label{
    margin: 0;
    line-height: 22px;
    min-height: 0;
}
.mytab-ul{
    margin-top: 9px;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px #16518d;
}
.mytab-ul>li>a,.mytab-ul>li>a:hover,.mytab-ul>li>a:hover{
    height: 30px;
    line-height: 18px;
    color: #16518d;
    background-color: #fff;
    border-color:transparent;
    border-bottom-color: #16518d !important;
}
.mytab-ul>li.am-active>a,.mytab-ul>li.am-active>a:hover,.mytab-ul>li.am-active>a,.mytab-ul>li.am-active>a:focus{
    color: #fff;
    background-color: #16518d;
    border-color: transparent;
}
.warning-tabs{
    border:none;
}
.warning-tabs .panel{
    padding:0;
}
.revenue-tabs{
    border:0;
}
.revenue-tabs .li-con{
    margin-top: 10px;
    border:solid #e1e1e1 1px;
    padding:18px 20px;
}
.revenue-tabs .li-con li{
    padding-bottom: 10px;
    padding-top: 10px;
}
.revenue-tabs .li-con li div:last-child{
    color: #16518d;
}
.revenue-tabs .li-con p{
    margin-top: 10px;
    color: #ff9900;
}
.customer-analyze .analyze-con{
    margin-top: 10px;
    border:solid #e1e1e1 1px;
    padding:18px 20px;
}
.analyze-con .li-con li{
    padding-bottom: 19px;
}
.analyze-con .li-con li div:last-child{
    color: #16518d;
}
.toolbar .am-selected{
    width:100px;
}
.btn-toolbar .am-selected-btn.am-btn-default,
.toolbar .am-selected-btn.am-btn-default{
    padding:5px;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    top:-2px;
}
.btn-toolbar .am-selected-btn.am-btn-default{
    top:0;
    margin-left: 10px;
}
.btn-toolbar .am-selected-btn.am-btn-default span,
.toolbar .am-selected-btn.am-btn-default span{
    width:90%;
}
.toolbar .am-selected-list .am-selected-text{
    font-size: 14px;
}
.toolbar .am-selected-list .am-icon-check{
    font-size: 14px;
}
/* 模态窗 */
.cus-tabs{
    padding:30px 55px;
    background-color: #fff;
    height:600px;
    overflow: auto;
}
.am-modal-hd+.cus-tabs{
    padding-top: 30px;
}
.cus-tabs .mytab-ul{
    margin-top: 0;
}
.cus-tabs table tr td:nth-of-type(2n+1){
    color: #797979;
}
.cus-tabs .stat{
    border:solid 1px #e1e1e1;
    background-color: #f5f5f5;
    padding:10px 20px;
}
.cus-tabs .file-btn{
    width:170px;
}
.cus-tabs .file-btn input{
    padding:5px 8px;
    font-size: 14px;
    height:30px;
    line-height: 20px;
}
.cus-tabs .file-btn button{
    font-size: 14px;
    background-color: #16518d;
    color: #fff;
    height:30px;
    padding:0 10px;
    border-color:#16518d;
}
.btn-toolbar{
    border:solid 1px #ccc;
    margin:20px 0;
    padding:0 10px;
}
.btn-toolbar>div{
    padding:10px 0;
}
.btn-toolbar>div:last-child{
    border-left: solid 1px #ccc;
}
.btn-toolbar .t{
    line-height: 30px;
    font-size: 14px;
    color: #797979;
}
.btn-toolbar .am-selected-list .am-selected-text{
    font-size: 14px;
}
.btn-toolbar .am-selected-list .am-icon-check{
    font-size: 14px;
}
/* 模态窗 */